.pfp{
    width: 100px;
    height: auto;
    margin: auto;
    border-radius: 50px;
    padding: auto;
}

.linker{

    text-align: center;
    width: 95%;
    margin: auto;

}
mark{
    background-color: #e8defc;
}
body{
    background-color: #f2f2f2;
}
footer{
    background-color: #f2f2f2;
    width: 70%;
    margin: auto;
    text-align: center;
}
button {
    margin: auto;
    width: 95%;
    height: 58px;
    background-color: #fcacbf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    transition: all .8s ease;
  }
.btn {
    margin-left: 90%;
    width: 40px;
    height: 40px;
    background-color: #d0d0d0; /* Green */
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    transition: all .8s ease;
  }

button:hover{
    background-color: #ccccff; /* Green */
}