.pfp{
    width: 175px;
    height: auto;
    margin: auto;
    border-radius: 25px;
}

.linker{

    text-align: center;
    width: 60%;
    margin: auto;

}
mark{
    background-color: #e8defc;
}
body{
    background-color: #f2f2f2;
}
footer{
    background-color: #f2f2f2;
    width: 70%;
    margin: auto;
    text-align: center;
}
button {
    width: 512px;
    height: 64px;
    background-color: #fcacbf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: all .8s ease;
  }

button:hover{
    background-color: #ccccff; /* Green */
}